* {
    margin: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
 
body{
    background: linear-gradient(#9e0b0b,#191414);
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
}

a img{
	width: 50px;
	height: 50px;
}
.nav-item a{
    font-size: 20px;
}

/* cambio de propiedades de bootstrap*/

.navbar-collapse{
	flex-grow: 0;
} 

.navbar{
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

.navbar-nav{
	width: 400px;
	justify-content: space-evenly;
}


.nav-item a{
	color: #fff;
    margin: 0 20px;
}

.nav-item a:hover{
	color: #ed2323;
}

.nav-img{
	align-self: center;
}
.nav-img .logo img{
    width: 150px;
    height: 150px;
}
 
.icon{
	color: #fff;
}
.container-fluid{
	width: 80%;
}

button {
	border: 0 solid transparent;
    border-radius: 0;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 18px;
	
}
.navbar-toggler{
	border: none;
}
.navbar-toggler:focus {

 	box-shadow:none;
}

.nav-item a{
    position: relative;
}

.nav-item a::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    bottom: 5px;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color:  #ed2323 ;
    opacity: 0;
    transition: 1s;

}

.nav-item a:hover::before{
    width: 90%;
    opacity: 1;
}



/*pie de pagina/footer*/

.pie-contain{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.pie-ul{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}

.pie-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    right: 0;

}
.pie-ul li a{
    color: #fff;
}

.pie-index{
    width: 130px;
}





/*index*/

.main-index h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}
.contain-main{
    width: 100%;
    display: flex;
}

.contain-main p{
    width: 50%;
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
}

.contain-main img{
    filter: drop-shadow(20px 20px 10px #000);
}






/* productos*/

.grid-contain{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px)) ;
    grid-template-rows: repeat(3,100px);
    gap: 200px;
    grid-auto-flow: row;
    justify-content: center;

}
.grid-contain article{
    display: flex;
    flex-direction: column;
}






/*ofertas*/

.oferta{
    position: relative;
    
}

.oferta div{
    font-family: 'Workbench', sans-serif;
    position: absolute;
    color: #eff0f0;
}
.oferta img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-radius: 15px;
    border: 3px solid #000;
}
.ofertas-contain{
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 200px) ;
    gap: 5px;
}
.oferta-principal{
    grid-column: 1/5;
    grid-row: 1/3; 
}
.oferta-principal div{
    padding: 100px;
}
.oferta-segunda{
    grid-column: 1/3;
    grid-row: 3/5; 
}
.oferta-segunda div,.oferta-tercera div{
    padding:0 10px 5px 0;
   bottom: 0;
   right: 0;
}
.segunda__texto p,.tercera__texto p{
    margin: 0;
}
.oferta-tercera{
    grid-column: 3/5;
    grid-row: 3/5;
}






/*quienes somos*/

.row img{
    padding: 5px;
    width: 300px;

}






/*style de trabaja con nosotros*/

section h1{
    text-align: center;
    margin: 50px auto;
    padding: 15px 2px;
}
.form-contain{
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.form{
    width: 700px;
    height: 300px;
    display: flex;
    box-shadow: -5px 5px 10px rgb(226, 143, 71);
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px;
    background: linear-gradient(160deg, #cb0e0e, #fc9934);
}

.form-contain__input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    gap: 10px;
}
.form-contain__input input{
    width: 100%;
    height: 30px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: rgb(201, 226, 239);
}

.form-contain__input input:hover{
    background: rgb(243, 245, 246);
}

.form textarea{
    outline: none;
    resize: none;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: rgb(201, 226, 239);
}

.form textarea:hover{
    background: rgb(243, 245, 246);
}

.form-contain__input .buttom{
    width: 50%;
    background: linear-gradient( 45deg,#f6e33e, #e0391c);
    cursor: pointer;
    align-self: center;
}

.form-contain__input .buttom:hover{
    background: #f90c0c70;

}

.form-contain__img{
    align-self: center;
}
.form-contain__img img{
    border-radius: 10px;
}

/*media queries*/

/* deskstop*/

@media (max-width:992px) {
    .nav-item a::before{
        display: none;
    }

    /* nav*/

	.nav-contain .nav-img{
		order: -1;
	}
    .navbar{
        height: 80px;
    }
	.container-fluid{
        z-index: 5;
		margin-left: 0;
        background: linear-gradient(#191414,#9e0b0b);;
        width: 100%;
	}
    .nav-img .logo img{
        width: 80px;
        height: 80px;
    }


    /*index*/


    .contain-main{
        flex-direction: column-reverse;
    }
    .contain-main img{
        max-width: 600px;

    }
    .contain-main__img{
        align-self: center;

    }



    /*productos*/

    .grid-contain {
        gap: 100px;
        grid-template-rows: repeat(3,1fr)
    }


    /*sobre nosotros*/

    .p__contain img{
        order: 5;
    }

    /*trabaja con nosotros*/
    .form{
        width: auto;
        height: auto;
        flex-direction: column-reverse;
    }
    .form-contain__input{
        width: 500px;
        margin-top: 15px;
    }
}




/* tablet*/

@media (max-width:720px){

    
    /* ofertas*/
    .oferta-principal{
        grid-column: 1/5;
        grid-row: 1/3; 
    }
    
    .oferta-segunda{
        grid-column: 1/5;
        grid-row: 3/4; 
    }
    .oferta-tercera{
        grid-column: 1/5;
        grid-row: 4/5;
    }
    .oferta-segunda div, .oferta-tercera div {
        color: #000;
    }
    
}





/*movile*/

@media (max-width:540px){

    /*home*/
    .contain-main p{
        padding: 30px 0;
    }
    .contain-main img{
        max-width: 400px;

    }

   /*trabaja con nosotros*/

   .form-contain__input{
    width: 100%;
    }

    .form{
        margin: 0;
    }

}

   