/*pie de pagina/footer*/

.pie-contain {
    @include medidas(100%, 150px);

    @include flex(row, space-between, flex-end);

    
}

.pie-ul {
    @include medidas(100px, 50px);

    @include flex(row, space-evenly, center);

}

.pie-img {
    img {
        @include medidas(150px, 150px);

        object-fit: cover;
        position: fixed;
        bottom: map-get($align-medidas, cero );
        right: map-get($align-medidas, cero );

        animation-name: girar;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 5s;
    }
    @keyframes girar {
        10%{
            transform: rotatey(90deg);
        }
        50%{
            transform: rotateY(180deg);
        }
        100%{
            transform: rotatey(360deg);
        }


        
    }

}

.pie-ul {
    li {
        a {

            color: $color-fonts;
        }
    }
}

.pie-index {
    @include medidas(130px, none);
    
}