/*pie de pagina/footer*/

.pie-contain {
    @include medidas(100%, 150px);

    @include flex(row, space-between, none);

    
}

.pie-ul {
    @include medidas(100px, 50px);

    @include flex(row, space-evenly, flex-end);

}

.pie-img {
    img {
        @include medidas(150px, 150px);

        object-fit: cover;
        position: fixed;
        bottom: 0;
        right: 0;
    }

}

.pie-ul {
    li {
        a {

            color: $color-fonts;
        }
    }
}

.pie-index {
    @include medidas(130px, none);
    
}