/* deskstop*/

@media (max-width:992px) {
    .nav-item {
        a {
            &::before {
                display: none;
            }
        }
    }

    /* nav*/

    .nav-contain {
        .nav-img {

            order: -1;
        }
    }

    .navbar {
        height: 80px;
    }

    .container-fluid {
        z-index: 5;
        margin-left: map-get($align-medidas, cero );
        background: $color-barra;
        ;
        width: 100%;
    }

    .nav-img {
        .logo {
            img {

                @include medidas(80px, 80px);
                
            }
        }
    }


    /*index*/


    .contain-main {
        flex-direction: column-reverse;

        img {

            max-width: 600px;
        }
    }

    .contain-main__img {
        align-self: map-get($align-medidas, centro );

    }



    /*productos*/

    .grid-contain {
        gap: 100px;
        grid-template-rows: repeat(3, 1fr)
    }


    /*sobre nosotros*/

    .p__contain {
        img {

            order: 5;
        }
    }

    /*trabaja con nosotros*/
    .form {
        @include medidas(auto, auto);
        
        flex-direction: column-reverse;
    }

    .form-contain__input {
        @include medidas(500px, none);

        margin-top: 15px;
    }

    /*footer*/
    .pie-img {
        img{
            @include medidas(100px, 100px);

            
        }
    }
}




/* tablet*/

@media (max-width:720px) {


    /* ofertas*/
    .oferta-principal {
        grid-column: 1/5;
        grid-row: 1/3;
        div{
            padding: 50px;
        }
    }

    .oferta-segunda {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .oferta-tercera {
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .oferta-segunda,
    .oferta-tercera {
        div {

            color: #000;
            font-weight: 800;
            bottom: 25%;
        }
    }

}





/*movile*/

@media (max-width:540px) {

    /*home*/
    .contain-main p {
        padding: 30px 0;
    }

    .contain-main img {
        max-width: 400px;

    }

    /*trabaja con nosotros*/

    .form-contain__input {
        @include medidas(100%, none);
        
    }

    .form {
        margin: map-get($align-medidas, cero );
    }

}