//fuentes

$font-general:"Lato", sans-serif;
$font-oferta:"Rubik";

//colores

$color-fondo:linear-gradient(#9e0b0b, #191414);
$color-barra:linear-gradient(#191414, #9e0b0b);
$color-hover: #ed2323;

$color-fonts:#fff;



//maps

$align-medidas:(
    centro: center,
    cero: 0
);